<!DOCTYPE html>
<html>
  <head>
    <title>X17138744CadCodebase | The Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Added Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Render partials for navbar and footer -->
    <%= render 'shared/navbar' %>

    <div class="container p-5">

      <h3 class="notice, alert-dark"><%= notice %></h3>
      <h3 class="alert, alert-danger"><%= alert %></h3>
      <!-- Added Bootstrap Alerts (needs JS to hide) -->
      

      <%= yield %>
    </div>
    
    <!-- JavaScript BootstrapCDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
